{% extends './layout.njk' %}

{% block content %}
    <div class="page-title">
        <h1>Página 404</h1>
    </div> 

    <section class="page-content">
        <p>Página não encontrada, por favor tente novamente!</p>
        <a href="/">Voltar Para Home</a>
    </section>
{% endblock %}
 

