<!-- Header -->

<% include ../partials/header %>

<!-- Content -->

<section class="content">
  <div class="container">

    <!-- Title -->

    <h5>Cadastro</h5>
  </div>
</section>

<!-- Footer -->

<% include ../partials/footer %>
