<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no" name="viewport" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" href="/css/material-icons.css">
	<link rel="stylesheet" href="/css/material-lite.css">
	<link rel="stylesheet" href="/css/styles.css"> 
	<title>Node - Server</title>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

	<!-- Header -->

		<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
						<a href="/"><span class="mdl-layout-title">Node Admin</span></a>
				</div>
		</header>

		<!-- Aside Menu -->

		<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Node Admin</span>
				<nav class="mdl-navigation">
						<a href="/admin/add" class="mdl-navigation__link">New Item</a>
				</nav>
		</div>
