<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<title>Node - Server</title>
		<link rel='stylesheet' href='/css/styles.css'>
</head> 
<body>
 
	<!-- Header -->

		<header>
			<div class="container">
					<a href="/"><span class="header-title">Template</span></a>
			</div>
		</header>

	<!-- Sidebar Menu -->

	<aside class="sidebar">
			<nav class="sidebar-navigation">
					<a href="/admin/add">New Item</a>
			</nav>
	</aside> 

	<div class="content content-sidebar">
			<div class="container ">
