<% include ../partials/header %>

<section class="content">
        <div class="container">
          <h5>Página 404</h4>
          <div class="section">
                <p>Página não encontrada, por favor tente novamente!</p>
          </div>
          <hr>
          <a class="mdl-button mdl-js-button mdl-button--raised" href="/">Voltar</a>
        </div>
</section>

<% include ../partials/footer %>
 
