{% extends '../base/layout.njk' %}

{% block content %}
    <div class="page-title">
        <h1>Images</h1>
    </div> 
     <section class="page-content"> 
        <div class="card-list clearfix">
            {% for file in files %}
            <article class="card">
                <div class="card-header" style="background: url('{{file}}')">
                    <h2 class="card-title">{{file}}</span>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="button-back">
            <a class="btn-primary" href="/">Voltar Para Home</a>
        </div>
    </section>

    
{% endblock %}
 


